<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title)">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <table>
        <tr>
            <th>Contact</th>
            <th>Links</th>
        </tr>
        <tr>
            <td><a th:href="@{/doc/Michael_A_Troia_Resume.docx/}" download="MichaelTroia_Resume" style="text-decoration: none; color: white;">Resume</a></td>
        </tr>
        <tr>
            <td>
                <i class="far fa-envelope"> troia.michael.a@gmail.com</i><br>
            </td>
            <td><a th:href="@{/blog}" style="text-decoration: none; color: white;">Blog</a></td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-mobile-alt"> (407) 301-4577</i><br>
            </td>
            <td><a href="https://justfriends.online" style="text-decoration: none; color: white;">JustFriends.online</a></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <i class="fab fa-linkedin"><a href="https://www.linkedin.com/in/michael-a-troia/" style="text-decoration: none; color: white;"> LinkedIn</a></i>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <i class="fab fa-github-square"><a href="https://github.com/Michael-Troia" style="text-decoration: none; color: white;"> GitHub</a></i>
            </td>
        </tr>
    </table>
</footer>
</body>
</html>