<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Blog')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <header>
        <div class="card">
            <h1 class="centered">Blog</h1>
        </div>
    </header>

    <article>
        <div class="card">
            <h3>First Post</h3>
            <h5>July 25th, 2021</h5>
            <br>
            <p>I've got some tweaking to do, but I think this blog post will mark the completion of the features I had planned.
            So probably, I'll do some tweaking with the styling after this and get it deployed soon.
            </p>
        </div>
        <br>
        <div class="card">
            <h3>Test Post</h3>
            <h5>July 25th, 2021</h5>
            <br>
            <p>Testing.
            </p>
        </div>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>