<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Home')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <header>
        <div id="Banner" style="position: relative;">
            <div class="bottom-left">
                <i class="fas fa-mobile-alt banner-text"> (407) 301-4577</i><br>
                <i class="far fa-envelope banner-text"> troia.michael.a@gmail.com</i><br>
                <i class="fab fa-linkedin banner-text"><a href="https://www.linkedin.com/in/michael-a-troia/" class="banner-text"> michael-a-troia</a></i><br>
                <i class="fab fa-github-square banner-text"><a href="https://github.com/Michael-Troia" class="banner-text"> GitHub</a></i>
            </div>
            <img th:src="@{/img/banner.png/}" alt="" style="width: 100%;">
        </div>
    </header>

    <article>
        <div class="container" style="display: flex;">
            <div style="width: 50%;">
                <img th:src="@{/img/face.jpg/}" style="width: 100%;">
            </div>
            <div style="flex-grow: 1;">
                <h2 style="padding-top: 30px;">Michael Troia</h2>
                <br>
                <div class="vertical" style="padding: 10%;">
                    <div>
                        <p>Web/Software Developer, Veteran, Composer, Game Dev, 3D Artist, Dad</p>
                        <div class="horizontal">
                            <div class="side">
                                <button>Contact</button>
                            </div>
                            <div class="side">
                                <button>Resume</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>