<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Home')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <header>
        <div id="Banner" style="position: relative;">
            <div class="bottom-left">
                <i class="fas fa-mobile-alt banner-text"> (407) 301-4577</i><br>
                <i class="far fa-envelope banner-text"> troia.michael.a@gmail.com</i><br>
                <i class="fab fa-linkedin banner-text"><a href="https://www.linkedin.com/in/michael-a-troia/" class="banner-text"> michael-a-troia</a></i><br>
                <i class="fab fa-github-square banner-text"><a href="https://github.com/Michael-Troia" class="banner-text"> GitHub</a></i>
            </div>
            <img th:src="@{/img/banner.png/}" alt="" style="width: 100%;">
        </div>
    </header>

    <article>
        <div class="container" style="display: flex;">
            <div style="width: 50%;">
                <img th:src="@{/img/face.jpg/}" style="width: 100%;">
            </div>
            <div style="flex-grow: 1;">
                <h2 style="padding-top: 30px;" class="centered">Michael Troia</h2>
                <br>
                <div class="vertical" style="padding: 10%;">
                    <div>
                        <p class="centered">Web/Software Developer, Veteran, Composer, Game Dev, 3D Artist, Dad</p>
                        <br><br><br>
                        <div class="horizontal">
                            <div class="side">
                                <a href="mailto:troia.michael.a@gmail.com" class="button buttons1">Contact</a>
                            </div>
                            <div class="side">
                                <a th:href="@{/doc/Michael_A_Troia_Resume.docx/}" download="MichaelTroia_Resume" class="button buttons1">Resume</a>
                            </div>
                            <div class="side">
                                <a href="https://github.com/Michael-Troia" class="button buttons1">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="card">
            <img th:src="@{/img/justfriends.png/}" alt="justfriends.online" style="width: 100%;">
            <div class="card-container">
                <h2 class="centered"><b>JustFriends.online</b></h2>
                <p class="centered">
                    <em>HTML, CSS, JavaScript, MySQL, Java, Spring MVC, Bootstrap</em>
                    <br><br>
                    A streamlined social media site for friends to share text posts, comments, photos and galleries.
                </p>
                <br><br><br>
                <div class="horizontal">
                    <div class="side">
                        <a href="https://justfriends.online" class="button buttons1">Site</a>
                    </div>
                    <div class="side">
                        <a href="https://github.com/Michael-Troia/just-friends" class="button buttons1">Code</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="card">
            <img th:src="@{/img/weatherMap.png/}" alt="OpenWeather Project" style="width: 100%;">
            <div class="card-container">
                <h2><b>OpenWeather API Project</b></h2>
                <p>
                    <em>HTML, CSS, JavaScript, OpenWeather API, MapBox API</em>
                    <br><br>
                    Using MapBox API, this project displays a map of a chosen city, and using OpenWeather, displays current weather conditions.
                    This demo displays a map of and current weather conditions of my city in Palm Bay, Florida.
                </p>
                <br><br><br>
                <div class="horizontal">
                    <div class="side">
                        <a th:href="@{/projects/weather}" class="button buttons1">Demo</a>
                    </div>
                    <div class="side">
                        <a href="https://github.com/Michael-Troia/Codeup-Web-Exercises/blob/master/weather_map.html" class="button buttons1">Code</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="card">
            <img th:src="@{/img/coffee.png/}" alt="Coffee Project" style="width: 100%;">
            <div class="card-container">
                <h2 class="centered"><b>Coffee Project</b></h2>
                <p class="centered">
                    <em>HTML, CSS, JavaScript</em>
                    <br><br>
                    This project uses filtering and sorting in JavaScript to display 12 different coffee brews of different roasts, and you can
                    also filter the list in the search bar and even create add a brew of your own to the list!
                </p>
                <br><br><br>
                <div class="horizontal">
                    <div class="side">
                        <a th:href="@{/projects/coffee}" class="button buttons1">Demo</a>
                    </div>
                    <div class="side">
                        <a href="https://github.com/Michael-Troia/Full-Stack-Review/blob/main/src/main/resources/templates/coffee.html" class="button buttons1">Code</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>