<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('More')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <header>
        <div class="card">
            <h1 class="centered">Side Projects and Hobbies</h1>
        </div>
    </header>

    <article>
        <div>
            <div class="card">
                <div class="top-banner">
                    <h3>3D Modeling (Blender)</h3>
                </div>
                <br>
                <div>
                    <img th:src="@{/img/FirstHouseCycles.png/}" alt="house" style="width: 50%; float: left;"/>
                    <img th:src="@{/img/Barn.png/}" style="width: 50%"/>
                </div>
                <div>
                    <img th:src="@{/img/firstRender-withcycles.png/}" style="width: 50%; float: left;"/>
                    <img th:src="@{/img/laptop.png/}" style="width: 50%"/>
                </div>
                <div>
                    <img th:src="@{/img/Pyramid.png/}" style="width: 50%; float: left;"/>
                    <img th:src="@{/img/VaporWaveStrike.png/}" style="width: 50%"/>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="top-banner">
                    <h3>Music Composition/Production</h3>
                </div>
                <br>
                <div>
                    <iframe width="100%" height="300px"
                            src="https://youtube.com/embed/L5awtVB4bOE">
                    </iframe>
                </div>

                <div>
                    <iframe width="100%" height="300px"
                            src="https://youtube.com/embed/2rNZbRBryVI">
                    </iframe>
                </div>

                <div>
                    <iframe width="100%" height="300px"
                            src="https://youtube.com/embed/ef-10Ezl0KQ">
                    </iframe>
                </div>
            </div>
        </div>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>