<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('More')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <header>
        <div class="card">
            <h1 class="centered">Side Projects and Hobbies</h1>
        </div>
    </header>

    <article>
        <div class="wrapper">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>