<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Projects')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <header>
        <div style="text-align: center">
            <a href="https://github.com/Michael-Troia" class="button buttons1">Github</a>
        </div>
    </header>

    <article>
        <div class="card">
            <img th:src="@{/img/justfriends.png/}" alt="justfriends.online" style="width: 100%;">
            <div class="card-container">
                <h2><b>JustFriends.online</b></h2>
                <p>
                    <em>HTML, CSS, JavaScript, MySQL, Java, Spring MVC, Bootstrap</em>
                    <br><br>
                    A streamlined social media site for friends to share text posts, comments, photos and galleries.
                </p>
                <br><br><br>
                <div class="horizontal">
                    <div class="side">
                        <a href="https://justfriends.online" class="button buttons1">Site</a>
                    </div>
                    <div class="side">
                        <a href="https://github.com/Michael-Troia/just-friends" class="button buttons1">Code</a>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>