<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('What I\'m Doing')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <header>
        <br>
        <div class="card">
            <p>Right now, I'm seeking employment in web development, but I've got a couple things I'm working on
                to help polish my resume/portfolio. I'm focusing right now on this portfolio site, and over the next
                week I intend to deploy this website and add a blog functionality.</p>
        </div>
<!--        todo create styled banners on top of grid areas-->
<!--        todo create cards for each div-->
    </header>

    <article>
        <div class="whatImDoing">
            <div class="summary">
                <hr>
                <h2>Using:</h2>
                <br>
                <p>HTML, CSS, JavaScript, MySQL, Java, Spring MVC, Blender, Godot Game Engine</p>
            </div>
            <div class="left">
                <div class="card-container">
                    <hr>
                    <h2 >Goals:</h2>
                    <br>
                    <ul>
                        <li>Deploy a polished portfolio site, including a working blog function.</li>
                        <li>Secure my first professional client or employer in web development.</li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="card-container">
                    <hr>
                    <h2>Side Projects:</h2>
                    <br>
                    <ul>
                        <li>2D Action RPG with Godot game engine. (private repo)</li>
                        <li>Online Blender Tutorial. (repo coming soon)</li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>