<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('What I\'m Doing')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <header>
        <div class="card">
            <h1>Hello.</h1>
            <p class="text-muted">At the moment, I'm <em>seeking</em> employment.</p>
            <hr>
            <br>
            <h2>Using:</h2>
            <br>
            <p>HTML, CSS, JavaScript, MySQL, Java, Spring MVC, Blender, Godot Game Engine</p>
        </div>
    </header>

    <article>
        <br><br><br>
        <div class="card">
            <div class="card-container">
                <hr>
                <h2 >Working on:</h2>
                <br>
                <p>Building the main pages for this portfolio site.</p>
            </div>
            <br>
            <div class="card-container">
                <hr>
                <h2 >Goals:</h2>
                <br>
                <ul>
                    <li>Deploy a polished portfolio site, including a working blog function.</li>
                    <li>Secure my first professional client or employer in web development.</li>
                </ul>
            </div>
            <br>
            <div class="card-container">
                <hr>
                <h2 >What's Next:</h2>
                <br>
                <ul>
                    <li>Create and deploy my next full-stack application (I already have an idea!).</li>
                    <li>Build a social media presence for my development brand.</li>
                </ul>
            </div>
            <br>
            <div class="card-container">
                <hr>
                <h2>Side Projects:</h2>
                <br>
                <ul>
                    <li>2D Action RPG with Godot game engine. (private repo)</li>
                    <li>Online Blender Tutorial. (repo coming soon)</li>
                </ul>
            </div>
            <br>
        </div>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>