<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Coffee')">
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="grid">
    <article style="background-color: #ffd1a9;">
    <div id="content" style="
        background-color: white;
        padding: 2em;
        max-width: 500px;
        margin: 0 auto;">
        <h1 id="header" style="
            text-align: center;
            background-color: chocolate;
            color: white;
            padding: 1em;
            border-radius: 20px;">Coffee!
        </h1>

        <form>
            <label for="roast-selection"></label>
            <select id="roast-selection">
                <option>light</option>
                <option>medium</option>
                <option>dark</option>
            </select>
            <input id="submit" type="submit" value="Filter"/>
        </form>

        <hr>

        <div id="search-box" style="margin: 20px;">
            <label for="search">Search Coffees</label>
            <input type="text" id="search" onkeyup="searchCoffee()">
        </div>

        <div id="coffees"></div>

        <div id="new-coffee-form" style="
            padding: 0 2em 2em 2em;
            background-color: #eaeaea;
            border: 1px solid gray;">
            <h2 style="text-align: center">Create Your Own Coffee</h2>
            <label for="roastType">Select Roast Type</label>
            <select name="roastType" id="roastType">
                <option value="Light">Light</option>
                <option value="Medium">Medium</option>
                <option value="Dark">Dark</option>
            </select>

            <div style="margin-top: 1em;">
                <label for="newRoast">Enter a name for New Roast</label>
                <input type="text" id="newRoast">
                <button id="newRoast-btn">Submit</button>
            </div>
        </div>
    </div>
    </article>

    <footer th:replace="partials/footer :: footer"></footer>
</div>
<script>
    "use strict"

    function createRoast(){
        let roastType = document.getElementById('roastType').value;
        let roastName = document.getElementById('newRoast').value;

        let newCoffee = {
            id: coffees.length + 1,
            name: roastName,
            roast: roastType
        }

        coffees.push(newCoffee);
        tbody.innerHTML = renderCoffees(coffees);
    }

    function searchCoffee() {
        let searchTerm = document.getElementById('search').value;
        let filteredCoffees = [];
        coffees.forEach(coffee => {
            const searchTermLowercase = searchTerm.toString().toLowerCase();
            if (coffee.name.toLowerCase().includes(searchTermLowercase) || coffee.name.includes(searchTerm)) {
                filteredCoffees.push(coffee);
            }
        })
        tbody.innerHTML = renderCoffees(filteredCoffees);
    }

    function renderCoffee(coffee) {
        let html = '<div class="coffee" style="border: 1px solid black;\n' +
            '    border-radius: 10px;\n' +
            '    padding-left: 20px;\n' +
            '    margin-bottom: 10px;">';
        html += '<h1>'+ coffee.name + '</h1>';
        html += '<p>' + coffee.roast + '</p>';
        html += '</div>';

        return html;
    }

    function renderCoffees(coffees) {
        let html = '';
        let sortedCoffees = coffees.sort((a, b) => (a.name > b.name) ? -1 : 1) //sort coffee area alphabetically by name
        for(let i = coffees.length - 1; i >= 0; i--) {
            html += renderCoffee(sortedCoffees[i]);
        }
        return html;
    }

    function updateCoffees(e) {
        e.preventDefault();
        let selectedRoast = roastSelection.value;
        let filteredCoffees = [];
        coffees.forEach(function(coffee) {
            if (coffee.roast === selectedRoast) {
                filteredCoffees.push(coffee);
            }
        });
        tbody.innerHTML = renderCoffees(filteredCoffees);
    }

    // from http://www.ncausa.org/About-Coffee/Coffee-Roasts-Guide
    let coffees = [
        {id: 1, name: 'Light City', roast: 'light'},
        {id: 2, name: 'Half City', roast: 'light'},
        {id: 3, name: 'Cinnamon', roast: 'light'},
        {id: 4, name: 'City', roast: 'medium'},
        {id: 5, name: 'American', roast: 'medium'},
        {id: 6, name: 'Breakfast', roast: 'medium'},
        {id: 7, name: 'High', roast: 'dark'},
        {id: 8, name: 'Continental', roast: 'dark'},
        {id: 9, name: 'New Orleans', roast: 'dark'},
        {id: 10, name: 'European', roast: 'dark'},
        {id: 11, name: 'Espresso', roast: 'dark'},
        {id: 12, name: 'Viennese', roast: 'dark'},
        {id: 13, name: 'Italian', roast: 'dark'},
        {id: 14, name: 'French', roast: 'dark'},
    ];

    let tbody = document.querySelector('#coffees');
    let submitButton = document.querySelector('#submit');
    let roastSelection = document.querySelector('#roast-selection');
    let newRoastButton = document.querySelector('#newRoast-btn');
    tbody.innerHTML = renderCoffees(coffees);
    newRoastButton.addEventListener('click', createRoast);
    submitButton.addEventListener('click', updateCoffees);
</script>
</body>
</html>